@import '../../scss/colors.scss';

.listCafe {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;

  &__cafe {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 350px;
    height: 250px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.6);

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }

    &-title {
      position: relative;
      font-size: 40px;
      text-transform: uppercase;
      color: #fff;
            
      p {
        margin: 0;
      }
    }

    &-img {
      position: absolute;
      overflow: hidden;
      opacity: 0.75;
      width: 350px;
      height: auto;
      left: 0;
      top: 0;
    }
  }
}