@import '../../scss/colors.scss';

.coffee-list {
  padding: 10px;
  transition: all 0.2s ease-out;
  
  p {
    margin: 5px 0;
    text-align: left;
  }

  .list-name {
    font-size: 18px;
    margin: 0;
    text-align: left;
  }

  .list-adress {
    font-size: 16px;
  }

  &:hover {
    background-color: $light-grey;
  }

  /* toggle information */
  .list-container {
    max-width: 600px;
    margin: 0 auto;

    .list {
      margin: 10px 0;
      position: relative;
      overflow: hidden;
      transition: all 0.3 ease;

      .list-title {
        color: $primary-red;
        margin-left: 150px;
        cursor: pointer;
      }

      .list-text {
        display: none;
        margin: 30px 0 0;
        color: black;
      }
      
      &.active {
        .list-text {
          display: block;
        }

        .list-toggle {
          .fa-chevron-down,
          .fa-times {
            color: $primary-red;
            display: block;
          }

          .fa-chevron-down {
            display: none;
          }
        } 
      
        .list-toggle {
          background-color: transparent;
          font-family: 'Font Awesome 5 Free';
          border: 0;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          padding: 0;
          position: absolute;
          top: 8px;
          right: 10px;
          height: 30px;
          width: 30px;

          &-:focus {
            outline: 0;
          }

          .fa-times {
            display: none;
          }
        }
      }
    }
  }
}

.active-class {
  background-color: $light-grey;
}
