@import '../../scss/colors.scss';

$select-transition: all 0.25s ease;
$body-border: solid transparent 1px;
$body-border-active: solid $input-blue 1px;

.pop-up {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 350px;
  min-height: 250px;
  top: 50px;
  right: 20px;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  background-color: #fff;
  z-index: 100;

  &-body {
    padding: 10px;
    height: 300px;
    transition: $select-transition;

    p {
      display: flex;
      align-self: start;
      margin-left: 20px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 18px;
    }

    &-row {
      display: flex;
      position: relative;
      margin: 0 20px;
      font-size: 12px;
      --field-padding: 12px;
      text-align: left;
      border-top: 15px solid transparent;

      &:nth-child(2) {
        margin-bottom: 10px;
      }
  
      input {
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $dark-grey;
        width: 300px;
        font-size: 14px;
        padding: var(--field-padding);
  
        &:focus-visible {
          outline-color: $input-blue;
        }
  
        &:valid {
          border: 2px solid $dark-grey;
          border-radius: 4px;
        }
  
        &:valid + .placeholder {
          top: -10px;
          font-size: 12px;
          color: $dark-grey;
        }
      }
    }

    &-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      margin-right: 20px;

      .btn {
        width: 80px;
        padding: 5px;
        border-radius:4px;
        border: 2px solid $primary-red;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
    
        &-submit {
          background-color: $primary-red;
    
          &:hover {
            background-color: $light-red;
          }
        }
      }
    }

    &.active {
      .select-body {
        min-height: var(--select-body-height);
        border-left: $body-border-active;
        border-bottom: $body-border-active;
        border-right: $body-border-active;
      }
    }
  }

  .pop-up-body-row .placeholder {
    position: absolute;
    top: 22px;
    transform: translateY(-50%);
    font-size: 14px;
    color: $dark-grey;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }

  .pop-up-body-row input:focus + .placeholder {
    top: -10px;
    font-size: 12px;
    text-align: left;
    color: $input-blue;
    width: calc(100% - (var(--field-padding) * 2));
  }
  
  .pop-up-body-row input:not(:placeholder-shown) + .placeholder
  .pop-up-body-row input:focus + .placeholder {
    top: 0px;
    font-size: 12px;
    color: $dark-grey;
  }

  .link {
    display: flex;
    align-self: flex-start;
    margin-left: 20px;
    text-decoration: none;
    color: $primary-red;

    &:hover {
      color: $light-red;
    }
  }
}

.form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;


  max-width: 600px;
  height: 500px;

  

 
}
