@import '../../scss/colors.scss';

.navigation {
  text-align: left;
  height: 100%;
  margin-bottom: 20px;

  .navigation-menu {
    display: flex;

    & li {
      margin: 0;
      text-align: center;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      list-style: none;
      transition: all 0.15s ease-in;
      cursor: pointer;  
    }

    li:hover {
      color: $primary-red;
      }

    .active {
      color: $primary-red;
    }

    &-select {
      display: flex;
      max-width: 300px;
      position: relative;
      cursor: pointer;

      &-wrapper {
      display: flex;
      align-items: flex-start;
      }

      &-icon {
        margin-left: 10px;
      }

      &-body {
        position: absolute;
        inset: 100% 0 0 0;
        width: max-content;
        transition: $select-transition;
        min-height: 0;
        overflow: hidden;
        z-index: 100;
        background-color: #fff;
        border-left: $body-border;
        border-bottom: $body-border;
        border-right: $body-border;
      }

      &-item {
        padding: 8px;
        transition: $select-transition;
        font-size: 14px;
        text-align: left;
    
        &.active {
          background-color: #90caf9;
        }
    
        &:hover {
          background-color: $light-grey;
        }
      }

      &.active {
        .navigation-menu {
          &-select-wrapper {
            color: $primary-red;
          }
    
          &-select-icon {
            transform: rotate(180deg);
          }
    
          &-select-body {
            min-height: var(--select-body-height);
            border-left: 1px solid $dark-grey;
            border-bottom:1px solid $dark-grey;
            border-right: 1px solid $dark-grey;
          }
        }
      }
    }

    &__icon {
      color: $primary-red;
      margin-left: 50px;
      margin-right: 20px;
      text-transform: uppercase;
      text-decoration: none;

      &-text {
        padding-left: 5px;
        font-weight: 600;
      }

      &:hover {
        color: $dark-grey;
      }
    }
  }
}

.app-header ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 695px) {
  .navigation {
    .navigation-menu {
      flex-wrap: wrap;
    } 
  }
}

@media (max-width: 679px) {
  .navigation {
    top: 0;
    right: 0;
    left: 0;
  }
}
