@import '../../scss/colors.scss';
@import '../../scss/mixins.scss';

.navigation {
  height: 100%;

  .navigation-menu {
    display: flex;
    margin: 0;

    & li {
      margin: 0;
      text-align: center;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: underline;
      list-style: none;
      cursor: pointer;

      @include navigationHover;
    }

    .active {
      color: $primary-red;
    }
  }
}

.app-header ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 695px) {
  .navigation {
    .navigation-menu {
      flex-wrap: wrap;
    } 
  }
}

@media (max-width: 679px) {
  .navigation {
    top: 0;
    right: 0;
    left: 0;
  }
}
