$list-width: 500px;
$list-width-tablet: 300px;
$gap: 30px;

.app-map {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: calc(100% - 30px);
  margin: auto;
  gap: $gap;

  > * {
    margin: 0;
  }

  // .map {
  //   flex: 1 1 calc(100% - #{$list-width} - #{$gap});
  //   width: calc(100% - #{$list-width} - #{$gap});
  // }

  .app-list {
    flex: 1 1 $list-width;
    width: $list-width;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (max-width: 1020px) {
  .app-map {
    // .map {
    //   flex: 1 1 calc(100% - #{$list-width-tablet} - #{$gap});
    //   width: calc(100% - #{$list-width-tablet} - #{$gap});
    // }

    .app-list {
      flex: 1 1 $list-width-tablet;
      width: $list-width-tablet;
    }
  }
}

@media (max-width: 768px) {
  // .app-map {
  //   width: 100%;
  //   margin: 0;
  //   padding: 0 15px;
  //   max-width: none;
  //   justify-content: center;

    .map,
    .navigation .app-list {
      width: 100%;
      flex: 1 1 100%;
    }
  // }
}
