$list-width: 500px;
$list-width-tablet: 300px;
$gap: 30px;

.app-map {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: calc(100% - 30px);
  margin: auto;
  gap: $gap;

  > * {
    margin: 0;
  }

  .app-list {
    flex: 1 1 $list-width;
    width: $list-width;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (max-width: 1020px) {
  .app-map {
    .app-list {
      flex: 1 1 $list-width-tablet;
      width: $list-width-tablet;
    }
  }
}

@media (max-width: 768px) {
  .map,
  .navigation .app-list {
    width: 100%;
    flex: 1 1 100%;
  }
}
