@import '../../scss/colors.scss';

.app-header {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-direction: column;
  width: 100%;

  h1 {
    font-size: 43px;
    text-align: center;
    color: $primary-red;
    margin: 0;
    padding-top: 40px;
  }

  img {
    height: 100%;
    width: auto;

    &:focus {
      outline: 0;
    }
  }

  .sign-icon {
    position: absolute;
    top: 20px;
    right: 50px;
    align-self: flex-end;
    cursor: pointer;

    &:hover {
      color: $primary-red;
      transition: all 0.25s ease;
    }
  }

  .claim {
    color: $primary-red;
    font-size: 27px;
    margin-top: 10px;
    align-self: center;
  }
  
  .coffee-cup {
    width: 150px;
    height: auto;
    position: absolute;
    right: 140px;
    top: 70px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 32px;
  }
  .claim {
    font-size: 25px;
  }
}

@media (max-width: 1130px) {
  .coffee-cup {
    display: none;
  }
}
// TODO smazat?
@media (min-width: 680px) {
  .App-header .navigation {
    margin-bottom: 20px;
  }
  .App-header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    margin-left: 50px;
  }
  .App-header li {
    margin-right: 50px;
    display: flex;
    justify-content: center;
  }
  .App-header .menu-icon {
    display: none;
  }
  .App-header .navigation-menu {
    max-height: 100%;
  }
}
