@import '../../scss/colors.scss';

.content {
  display: flex;
  flex-direction: column;

  &-information {
    flex-direction: column;
    margin-right: 20px;

    .content-ref {
      font-weight: 300;
      font-size: 18px;
      margin-top: 10px;
    }

    .content-star {
      display: flex;
      flex-direction: row;
      padding:10px;
    }

    .content-icon {
      color: $dark-grey;

      &:hover {
        color: $primary-red;
      }

      &__active {
        color: $primary-red;
      }
    }

    .content-table {
      text-align: left;
      margin-top: 10px;

      tbody > tr > td:nth-child(1) {
        padding-right: 10px;
      }

      .parameters-icon {
        color: $primary-red;
      }
    }
  }
 
  .content-images {
    .img {
        width: 200px;
        height: auto;
        margin-top: 10px;
        margin-left: 0;
      }
  }
}

@media (min-width: 800px) {
  .content {
    flex-direction: row;
  }
}
