@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body,
.App {
  margin: 0 auto;
  text-align: center;
  font-family: 'Varela Round', sans-serif;  
  font-size: 1em;
  height: 100%;
  background-color: #fff;
  color: #000;
}

.app-map {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-list {
  align-self: flex-start;
  margin-left: 50px;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

/* je třeba probrat css a promazat či přesunout */
/* Location */
.location-btn {
  background-color: #fff;
  /* background-image: url('/img/location.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 4px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin: 7px;
  padding: 0;
}

.location-btn:focus,
.location-btn:active {
  outline: 0;
}

.location-btn:hover {
  background-color: rgb(255, 255, 255);
}

/* section coffeehouse */
.app-list {
  align-self: flex-start;
  margin-left: 50px;
  padding-right: 10px;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  flex: 1 1 50%;
  width: 50%;

}

/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  height: 10px;

}
 
::-webkit-scrollbar-thumb {
  background: grey; 
  height: 15px;
}

/* Button */
.btn {
  align-self: flex-end;
}

.fas {
  color: #9F2B1F;
  font-size: 24px;
}

.fas:hover {
  color: #C92E1E;
}

#btn-next,
#btn-prev {

  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#btn-next:focus,
#btn-prev:focus {
  outline: 0;
} 

/* image container */
.container-image {
  display: none;
}

.list.active .container-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.list-image {
  max-width: 100px;
  height: auto;
  margin: 10px;
}

@media (min-width: 680px) {
  .App-header .navigation {
    margin-bottom: 20px;
  }
  .App-header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    margin-left: 50px;
  }
  .App-header li {
    margin-right: 50px;
    display: flex;
    justify-content: center;
  }
  .App-header .menu-icon {
    display: none;
  }
  .App-header .navigation-menu {
    max-height: 100%;
  }
}

@media (max-width: 730px) {
  .app-map {
    display: block;
  }

  .app-list {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
  }

}

@media (max-width: 820px) {
  /* .navigation-ul {
    /* display: none; */
 
}
