@import '../../scss/colors.scss';

.map {
  height: 520px;
  width: 50%;
  border: 4px solid $primary-red;
  border-radius: 8px;
  margin-left: 20px;
}

@media (max-width: 730px) {
  .map {
    width: 75%;
    margin: 0 auto;
  }
}

/* Location */
.location-btn {
  background-color: #fff;
  /* background-image: url('/img/location.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 4px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin: 7px;
  padding: 0;
}

.location-btn:focus,
.location-btn:active {
  outline: 0;
}

.location-btn:hover {
  background-color: rgb(255, 255, 255);
}
