.detail {
  &-header {
    margin: 0;
    height: 350px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-wrapper {
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__address {
      font-size: 20px;
      padding-bottom: 20px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items:flex-start;

      &__time {
        padding-bottom: 20px;

        .clock-icon {
          padding-right: 10px;
        }
      }

      &__phone {
        padding-bottom: 20px;

        .icon {
          padding-right: 10px;
        }
      }

      &__web {
        .icon {
          padding-right: 10px;
        }
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      &__map {
        width:500px;
      }

      &__images {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 10px;

        img {
          width: 250px;
          height: auto;

          &:hover {
            //
          }
        }
      }
    }
  }
}