@mixin information-row() {
  padding-bottom: 20px;
  display: flex;
  align-content: center;
}

.detail {
  text-align: start;

  .title {
    font-size: 30px;
    padding: 12px 24px;
  }

  &-header {
    margin: 0;
    height: 350px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      margin-top: 24px;
    }
  }

  &-wrapper {
    padding: 0 24px;

    &-info {
      &__time {
        @include information-row();
      }

      &__phone {
        @include information-row();
      }

      &__web {
        @include information-row();
      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      &__map {
        width:500px;
      }

      &__images {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 10px;

        img {
          width: 250px;
          height: auto;

          &:hover {
            //
          }
        }
      }
    }
  }
}
.icon {
  margin-right: 12px;
}