@import '../../scss/colors.scss';

.map-info {
    &-window {
        text-align: left;
        background-color:transparent;
        
        & * {
            font-size: 14px;
            font-weight: 400;
        }

        img {
            float: right;
            max-width: 40%;
            height: auto;
            vertical-align: top;
            margin-left: 10px;
        }
    }

    &-title {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
        border-bottom: solid $primary-red 1px;
        color: $primary-red;
    }

    &-content {
        color:$dark-grey;
        margin-bottom: 10px;
    }

    &-address {
        color: $dark-grey;
        font-size: 90%;
        margin-bottom: 10px;
        font-style: normal;
    }

    &-other {
        font-size: 80%;
    }
}